@import "variables";
@import "header";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

a {
  color: #00B7FF;
}

h1, h2, .h1, .h2 {
  font-family: $headings-font-cabin;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
  font-family: $headings-font-life;
}

.error-wrapper {
  padding: 50px;

  pre {
    border-radius: 18px;
  }
}

.footer {

  > .inner {
    color: $gray-darker;
    color: rgba(0, 0, 0, 0.5);
    padding: 30px;
  }
}

body .jumbotron {
  @media (max-width: $screen-sm) {
    background-color: #ffffff;
  }
}

@keyframes RunningInRightBig {
  0% {
    transform: translate3d(2000px, 0, 0);
  }

  100% {
    transform: none;
  }
}

.RunningInRightBig {
  animation-name: RunningInRightBig;
}

body .inav-main .inav-desktop .brand {

  &.groom, &.bride {
    background-size: 47px 62px;
  }

  &.groom {
    background-image: url(/img/inav/wedding-groom.png);
  }

  &.bride {
    background-image: url(/img/inav/wedding-bride.png);
    animation-delay: 0.7s;
  }
}

/// sub modules
@import "components/examples";
.dropping, .dropping > a {
  position: relative
}

.btnz, .btnz-lg, .btnz-md, .btnz-sm, .btnz-xl, .btnz-xs {
  line-height: 1.618em
}

.dropping .dropping-backdrop, .inav-main .inav-phone a {
  -webkit-tap-highlight-color: transparent
}

@-webkit-keyframes pulldown {
  from {
    -webkit-transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0)
  }
}

@-o-keyframes pulldown {
  from {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes pulldown {
  from {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
  }
  to {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes pullup {
  from {
    -webkit-transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%)
  }
}

@-o-keyframes pullup {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@keyframes pullup {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0)
  }
  to {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%)
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@-o-keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@keyframes fadeOut {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}

@-webkit-keyframes pulse-fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1)
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.05, 1.05, 1.05)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1)
  }
}

@-o-keyframes pulse-fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

@keyframes pulse-fadein {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05)
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)
  }
}

body, html {
  width: 100%;
  height: 100%
}

.inav-main > .inav-desktop, .inav-main > .inav-phone, .inav-panel {
  font-family: Overlock, sans-serif;
  font-size: 16px
}

.inav-main > .inav-desktop ol, .inav-main > .inav-desktop ul, .inav-main > .inav-phone ol, .inav-main > .inav-phone ul, .inav-panel ol, .inav-panel ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.inav-main > .inav-desktop h1, .inav-main > .inav-desktop h2, .inav-main > .inav-phone h1, .inav-main > .inav-phone h2, .inav-panel h1, .inav-panel h2 {
  font-family: Cabin Sketch, sans-serif
}

.inav-main > .inav-desktop h3, .inav-main > .inav-desktop h4, .inav-main > .inav-desktop h5, .inav-main > .inav-desktop h6, .inav-main > .inav-phone h3, .inav-main > .inav-phone h4, .inav-main > .inav-phone h5, .inav-main > .inav-phone h6, .inav-panel h3, .inav-panel h4, .inav-panel h5, .inav-panel h6 {
  font-family: Life Savers, serif
}

.inav-main > .inav-desktop h1, .inav-main > .inav-phone h1, .inav-panel h1 {
  font-size: 67.77px;
  margin-top: .5em;
  margin-bottom: .5em
}

.inav-main > .inav-desktop h2, .inav-main > .inav-phone h2, .inav-panel h2 {
  font-size: 41.89px
}

.inav-main > .inav-desktop h3, .inav-main > .inav-phone h3, .inav-panel h3 {
  font-size: 25.89px
}

.inav-main > .inav-desktop h4, .inav-main > .inav-phone h4, .inav-panel h4 {
  font-size: 20px
}

.inav-main > .inav-desktop h5, .inav-main > .inav-phone h5, .inav-panel h5 {
  font-size: 18px
}

.inav-main > .inav-desktop h6, .inav-main > .inav-phone h6, .inav-panel h6 {
  font-size: 17.07px
}

.dropping > a {
  z-index: 1010;
  text-decoration: none;
  color: #333;
  outline: 0
}

.dropping .dropping-menu {
  overflow: hidden;
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  display: none
}

.dropping .dropping-backdrop {
  position: fixed;
  z-index: 990;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  outline: 0
}

.dropping ol, .dropping ul {
  list-style: none
}

.dropping.open > .dropping-menu {
  z-index: 1000;
  display: block
}

.dropping.pulse-fadeout.open > .dropping-menu > .dropping-container {
  -webkit-animation: pulse-fadein .3s ease-in-out;
  -o-animation: pulse-fadein .3s ease-in-out;
  animation: pulse-fadein .3s ease-in-out
}

.dropping.pulse-fadeout.open.closing > .dropping-menu > .dropping-container {
  -webkit-animation: fadeOut .3s ease-in-out;
  -o-animation: fadeOut .3s ease-in-out;
  animation: fadeOut .3s ease-in-out
}

@-webkit-keyframes btnz-glowing {
  from, to {
    -webkit-box-shadow: 0 0 0 rgba(44, 154, 219, .3), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 rgba(44, 154, 219, .3), 0 1px 2px rgba(0, 0, 0, .2)
  }
  50% {
    -webkit-box-shadow: 0 0 16px rgba(44, 154, 219, .8), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 16px rgba(44, 154, 219, .8), 0 1px 2px rgba(0, 0, 0, .2)
  }
}

@-o-keyframes btnz-glowing {
  from, to {
    box-shadow: 0 0 0 rgba(44, 154, 219, .3), 0 1px 2px rgba(0, 0, 0, .2)
  }
  50% {
    box-shadow: 0 0 16px rgba(44, 154, 219, .8), 0 1px 2px rgba(0, 0, 0, .2)
  }
}

@keyframes btnz-glowing {
  from, to {
    -webkit-box-shadow: 0 0 0 rgba(44, 154, 219, .3), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 0 rgba(44, 154, 219, .3), 0 1px 2px rgba(0, 0, 0, .2)
  }
  50% {
    -webkit-box-shadow: 0 0 16px rgba(44, 154, 219, .8), 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 0 16px rgba(44, 154, 219, .8), 0 1px 2px rgba(0, 0, 0, .2)
  }
}

.btnz {
  text-align: center;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  outline-offset: 0 !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  background-image: none;
  color: #200606;
  text-shadow: none;
  background-color: #afeeee;
  font-size: 16px;
  padding: .375em .625em;
  border-width: 1px;
  border-style: none;
  border-color: none;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  font-family: Overlock, sans-serif
}

.btnz, .inav-main .inav-phone .hamburger {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none
}

.btnz:focus, .btnz:hover {
  color: #200606;
  background-color: #c3f2f2
}

.btnz:active {
  background-color: #b4e9e9;
  color: #8cbebe
}

.btnz::-moz-focus-inner {
  border: 0;
  padding: 0
}

.btnz-lg, .btnz-md, .btnz-sm, .btnz-xl, .btnz-xs {
  padding: .375em .625em
}

.btnz:focus {
  outline: 0
}

.btnz-glow {
  -webkit-transition: -webkit-box-shadow 2s ease;
  -o-transition: box-shadow 2s ease;
  transition: box-shadow 2s ease
}

.btnz-glow:focus, .btnz-glow:hover {
  -webkit-box-shadow: 0 0 16px rgba(44, 154, 219, .8), 0 1px 2px rgba(0, 0, 0, .2);
  box-shadow: 0 0 16px rgba(44, 154, 219, .8), 0 1px 2px rgba(0, 0, 0, .2)
}

.btnz-xs {
  font-size: 12px;
  border-radius: .3em
}

.btnz-sm {
  font-size: 14px;
  border-radius: .3em
}

.btnz-md {
  font-size: 18px;
  border-radius: .3em
}

.btnz-lg {
  font-size: 22px;
  border-radius: .3em
}

.btnz-xl {
  font-size: 26px;
  border-radius: .3em
}

.btnz-primary {
  color: #200606;
  text-shadow: none;
  background-color: #afeeee;
  border-color: #afeeee
}

.btnz-primary:focus, .btnz-primary:hover {
  color: #200606;
  background-color: #c3f2f2
}

.btnz-primary:active {
  background-color: #b4e9e9;
  color: #8cbebe
}

.btnz-caution {
  color: #000f05;
  text-shadow: none;
  background-color: #f64aba;
  border-color: #f64aba
}

.btnz-caution:focus, .btnz-caution:hover {
  color: #000f05;
  background-color: #f877cb
}

.btnz-caution:active {
  background-color: #ed53b7;
  color: #c43b94
}

.btnz-royal {
  color: #032e14;
  text-shadow: none;
  background-color: #fbcce9;
  border-color: #fbcce9
}

.btnz-royal:focus, .btnz-royal:hover {
  color: #032e14;
  background-color: #fcd8ee
}

.btnz-royal:active {
  background-color: #f8cfe8;
  color: #c8a3ba
}

.btnz-action {
  color: #ffede9;
  text-shadow: none;
  background-color: #0095b6;
  border-color: #0095b6
}

.btnz-action:focus, .btnz-action:hover {
  color: #ffede9;
  background-color: #3fafc8
}

.btnz-action:active {
  background-color: #098fad;
  color: #007791
}

.btnz-spotlight {
  color: #000710;
  text-shadow: none;
  background-color: #ffac44;
  border-color: #ffac44
}

.btnz-spotlight:focus, .btnz-spotlight:hover {
  color: #000710;
  background-color: #ffc072
}

.btnz-spotlight:active {
  background-color: #f6ab4d;
  color: #cc8936
}

.inav-main, .inav-main *, .inav-main :after, .inav-main :before, .inav-main:after, .inav-main:after *, .inav-main:after :after, .inav-main:after :before, .inav-main:before, .inav-main:before *, .inav-main:before :after, .inav-main:before :before, .inav-panel, .inav-panel *, .inav-panel :after, .inav-panel :before, .inav-panel:after, .inav-panel:after *, .inav-panel:after :after, .inav-panel:after :before, .inav-panel:before, .inav-panel:before *, .inav-panel:before :after, .inav-panel:before :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

.inav-main {
  overflow-x: hidden;
  min-height: 500px
}

@media (max-width: 767px) {
  .dropping .dropping-backdrop {
    left: -10000px;
    top: -10000px
  }
  .inav-main.inav-offcanvas {
    -webkit-backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 1;
    position: relative;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
  }
}

.inav-main > .inav-desktop {
  display: none
}

@media (min-width: 768px) {
  .inav-panel {
    display: none
  }
  .inav-main > .inav-desktop {
    display: block
  }
  .inav-main > .inav-phone {
    display: none
  }
}

.inav-main.open {
  -webkit-transform: translateX(240px);
  -ms-transform: translateX(240px);
  -o-transform: translateX(240px);
  transform: translateX(240px)
}

.inav-top {
  display: none
}

.inav-top.visible {
  border-radius: 3px;
  color: #999;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, .3);
  z-index: 1000;
  -webkit-animation: fadeIn 1s ease-in-out;
  -o-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out
}

@media (min-width: 768px) {
  .inav-top {
    display: none
  }
}

.bag {
  max-width: 1200px;
  margin: 0 auto;
  position: relative
}

.inav-main .inav-desktop {
  width: 100%;
  height: 89px;
  background-color: #eee;
  background-image: url(/img/inav/bg-gray-inav.jpg);
  border-bottom: 3px solid #f64aba
}

.inav-main .inav-desktop .bag {
  height: 100%;
  padding: 0 15px
}

.inav-main .inav-desktop .brand {
  display: inline-block;
  background-image: url(/img/inav/chasing.png);
  background-repeat: no-repeat;
  height: 30px;
  background-position: 0 5px;
  width: 33.57px;
  -webkit-background-size: 33.57px 25px;
  background-size: 33.57px 25px
}

@media (min-width: 480px) {
  .inav-main .inav-desktop .brand {
    height: 100%;
    width: 47px;
    background-position: 0 25.5px;
    -webkit-background-size: 47px 35px;
    background-size: 47px 35px
  }
}

.inav-main .inav-desktop .brand.animated {
  -webkit-animation-duration: 10s;
  -o-animation-duration: 10s;
  animation-duration: 10s
}

.inav-main .inav-desktop .tagline {
  position: absolute;
  top: 0;
  right: 15px;
  font-family: Cabin Sketch, sans-serif;
  color: #999;
  line-height: 22px
}

.inav-main .inav-desktop nav {
  position: absolute;
  bottom: 0;
  right: 45px
}

.inav-main .inav-desktop nav > div, .inav-main .inav-desktop ul.tabs > li {
  display: inline-block;
  vertical-align: bottom
}

.inav-main.pin {
  padding-top: 92px
}

.inav-main.pin .inav-desktop {
  position: fixed;
  z-index: 100;
  top: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: pulldown .5s ease-in-out;
  -o-animation: pulldown .5s ease-in-out;
  animation: pulldown .5s ease-in-out;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, .7);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, .7);
  height: 52px
}

.inav-main.pin .inav-desktop .search-form-wrapper, .inav-main.pin .inav-desktop .tagline {
  display: none
}

.inav-main.pin .inav-desktop nav {
  left: 200px;
  right: auto
}

@media (min-width: 992px) {
  .inav-main.pin .inav-desktop nav {
    left: 50%
  }
}

.inav-main.pin .inav-desktop .brand {
  height: 100%;
  width: 47px;
  background-position: 0 7px;
  -webkit-background-size: 47px 35px;
  background-size: 47px 35px
}

.inav-desktop .tabs {
  margin: 0 5px
}

.inav-desktop .tabs > li > a {
  display: block;
  margin: 0;
  padding: 16px 10px 2px;
  font-family: Life Savers, serif;
  font-size: 21px;
  line-height: 25px;
  text-decoration: none;
  outline-offset: 0;
  cursor: pointer;
  background-color: #afeeee;
  border-radius: 10px 10px 0 0;
  border: 1px solid #94caca
}

.inav-main .inav-phone .hamburger, .inav-main .inav-phone .search-btn {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif
}

.inav-desktop .tabs .dropping > .dropping-menu {
  right: -13px
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container {
  padding: 20px 13px;
  position: relative
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > .arrow-back, .inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > .arrow-front {
  position: absolute;
  right: 33px
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > .arrow-front {
  height: 0;
  width: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 16px solid #fff;
  border-left-style: dashed;
  border-right-style: dashed;
  top: 5px;
  z-index: 2
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > .arrow-back {
  height: 0;
  width: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 16px solid #5b5b5b;
  border-left-style: dashed;
  border-right-style: dashed;
  top: 4px;
  z-index: 1
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > ul {
  background-color: #fff;
  border: 1px solid #999;
  padding: 10px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2)
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > ul > li > a {
  display: block;
  padding: 3px 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 176px;
  text-decoration: none;
  outline: 0;
  color: #555
}

.inav-main .inav-phone .hamburger, .inav-main .inav-phone .search-btn {
  background-image: none;
  border-style: none;
  font-size: 16px;
  text-decoration: none !important
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > ul > li > a:focus {
  background-color: #afeeee
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > ul > li > a:hover {
  background-color: #eee
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > ul > li.dropping-divider {
  background-color: #eee;
  height: 1px;
  margin: 9px 0
}

.inav-desktop .tabs .dropping > .dropping-menu > .dropping-container > ul > li.dropping-header {
  padding: 3px 10px;
  color: #999;
  font-size: .8em
}

.inav-main .inav-phone {
  border-bottom: 1px solid #7aa6a6;
  width: 100%;
  height: 50px;
  color: #200606;
  background: -webkit-linear-gradient(top, #c4f2f2, #46d8d8);
  background: -webkit-gradient(linear, left top, left bottom, from(#c4f2f2), to(#46d8d8));
  background: -o-linear-gradient(top, #c4f2f2, #46d8d8);
  background: linear-gradient(to bottom, #c4f2f2, #46d8d8);
  border-style: solid;
  border-color: #5bdcdc;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 2px rgba(0, 0, 0, .15);
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  position: relative
}

.inav-main .inav-phone.open .ham-wrapper, .inav-main .inav-phone.open .search-btn {
  display: none
}

.inav-main .inav-phone.open .search-form {
  display: block
}

.inav-main .inav-phone .ham-wrapper {
  padding-top: 10px;
  padding-left: 10px;
  display: inline-block
}

.inav-main .inav-phone .hamburger {
  text-align: center;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline-offset: 0 !important;
  cursor: pointer;
  display: inline-block;
  zoom: 1;
  border-width: 1px;
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  line-height: 1.618em;
  border-radius: .3em;
  padding: .2em .5em;
  color: #ffede9;
  text-shadow: none;
  background-color: #0095b6;
  border-color: #0095b6;
  vertical-align: baseline
}

.inav-main .inav-phone .hamburger::-moz-focus-inner {
  border: 0;
  padding: 0
}

.inav-main .inav-phone .hamburger:focus {
  outline: 0
}

.inav-main .inav-phone .hamburger:focus, .inav-main .inav-phone .hamburger:hover {
  color: #ffede9;
  background-color: #3fafc8
}

.inav-main .inav-phone .hamburger:active {
  background-color: #098fad;
  color: #007791
}

.inav-main .inav-phone .logo {
  display: inline-block;
  vertical-align: baseline
}

.inav-main .inav-phone .search-btn {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  user-select: none;
  box-sizing: border-box;
  outline-offset: 0 !important;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  text-shadow: none;
  border-width: 1px;
  border-color: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background-color: transparent;
  line-height: 1em;
  width: 50px;
  height: 50px;
  padding: 17px 17.57px;
  color: #7aa6a6
}

.inav-main .inav-phone .search-btn, .inav-main .inav-phone .search-form .input-wrapper .search-input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none
}

.inav-main .inav-phone .search-btn, .inav-panel .pan .pan-body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none
}

.inav-main .inav-phone .search-btn:active {
  background-color: #b4e9e9;
  color: #8cbebe
}

.inav-main .inav-phone .search-btn::-moz-focus-inner {
  border: 0;
  padding: 0
}

.inav-main .inav-phone .search-btn:focus {
  outline: 0
}

.inav-main .inav-phone .search-btn:focus, .inav-main .inav-phone .search-btn:hover {
  color: #7aa6a6;
  background-color: transparent
}

.inav-main .inav-phone .search-form {
  display: none;
  height: 50px;
  padding: 5px 10px;
  position: relative
}

.inav-main .inav-phone .search-form .input-wrapper {
  border: 1px solid #7aa6a6;
  position: relative;
  padding: 5px;
  height: 40px;
  background-color: #FFF
}

.inav-main .inav-phone .search-form .input-wrapper .search-input {
  background-color: #FFF;
  border-width: 0;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  box-sizing: border-box
}

.inav-main .inav-phone .search-form .input-wrapper .clear {
  color: #7aa6a6;
  position: absolute;
  padding: 4px 5px;
  top: 0;
  right: 0
}

.inav-main .inav-phone .search-form .input-wrapper .clear.active {
  background-color: #d6e3e3
}

.inav-panel .pan {
  background-color: #313137;
  width: 240px;
  left: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: visibility 0s linear .2s;
  -o-transition: visibility 0s linear .2s;
  transition: visibility 0s linear .2s
}

.inav-panel .pan .pan-header {
  height: 50px;
  border-bottom: 1px solid #282828;
  margin-bottom: 0
}

.inav-panel .pan .pan-body {
  width: 240px;
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  -ms-touch-action: none;
  -webkit-touch-callout: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none
}

.inav-panel .pan .pan-body > nav {
  position: absolute;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%
}

.inav-panel .pan.open {
  visibility: visible;
  z-index: 2;
  -webkit-transition: z-index 0s linear .2s;
  -o-transition: z-index 0s linear .2s;
  transition: z-index 0s linear .2s
}

.inav-panel .pan .anonymous {
  width: 100%;
  height: 50px;
  padding: 11px 8px;
  text-overflow: ellipsis;
  overflow: hidden
}

.inav-panel .pan .account {
  width: 100%;
  height: 50px;
  padding: 3px 8px;
  position: relative
}

.inav-panel .pan .account a.account-cloud {
  color: #f64aba;
  text-decoration: none
}

.inav-panel .pan .account .avatar {
  display: inline-block;
  vertical-align: middle;
  padding: 7.5px 0
}

.inav-panel .pan .account .identity {
  display: inline-block;
  vertical-align: middle
}

.inav-panel .pan .account .identity div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 151px
}

.inav-panel .pan .account .signout {
  position: absolute;
  top: 0;
  right: 0;
  padding: 9px
}

.inav-panel .pan .account a.signout {
  color: #555;
  text-decoration: none
}

.inav-panel .pan .account a.signout.touch {
  background-color: #383838
}

.inav-panel .pan nav h4 {
  padding: 6px 12px;
  margin: 0;
  color: #000
}

.inav-panel .pan nav a.item {
  height: 50px;
  text-decoration: none;
  white-space: nowrap;
  color: #eee
}

.inav-panel .pan nav a.item.active {
  background-color: #222;
  border: 1px solid #555;
  border-radius: 5px;
  position: relative
}

.inav-panel .pan nav a.item.active:after {
  height: 0;
  width: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 12px solid #fff;
  position: absolute;
  right: -21px;
  top: 15px;
  content: ""
}

.inav-panel .pan nav a.item.touch {
  background-color: #383838
}

.inav-panel .pan nav .item {
  width: 210px;
  padding: 9px 29px 9px 14px;
  margin: 0 20px 0 10px;
  border-width: 0;
  display: block;
  color: #555
}

.inav-panel .pan nav .item:first-child {
  margin-top: 6px
}

.inav-panel .pan nav .item:last-child {
  margin-bottom: 50px
}

.inav-panel .pan .inav-divider {
  margin: 9px auto;
  width: 80%;
  border-top: 1px solid #999;
  height: 1px
}

.inav-panel .pan .inav-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  color: #FFF
}

.inav-panel .pan .inav-text {
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 6px;
  display: inline-block;
  max-width: 135px
}
